<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PullDownZoonIn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DDE5F2631C8A6CD60096AF60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDE5F27C1C8A6CD70096AF60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDE5F2871C8A6CD70096AF60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
